<div>
  <%= content_tag :p, @list.title %>
  
  <!-- Add an item -->
  Add an item:
 <%= form_for(@item) do |item| %>
  <div class="field">
    <%= item.text_field :title %>
  </div>
  <div class="actions">
    <%= item.submit %>
  </div>
<% end %>
  
  <!-- list all items -->
  <% @items.each do |item| %>
    <%= content_tag :p, item.title %>
  <% end %>
  <nav>
    <div>
      <%= link_to "Delete", list_item_path(@list, item), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Edit", edit_list_path(@list) %> 
      <%= link_to "Home", root_path %>
    </div>
  </nav>
</div>