<p>
Create a New List:
</p>
<%= form_for(@list) do |l| %>
  <div class="field">
    <%= l.label :title %><br>
    <%= l.text_field :title %>
  </div>
  <div class="actions">
    <%= l.submit %>
  </div>
<% end %>

<p>  
Current Lists:
</p>

<div>
  <% @lists.each do |list| %>
  <%= div_for list do %>
      <%= content_tag :p, list.title %>
      <p>
        <%= link_to "View More", list_path(list) %>
      </p>
    <% end %>
  <% end %>
</div>